
p{font-size:45px;}
h1{font-family: 'Press Start 2P', cursive;}
p{font-family: 'Gochi Hand', cursive;}
img{width:350px;}
body{background:url("https://i.pinimg.com/originals/f8/56/5c/f8565c8128df0717b1b6f8ffd631665e.gif");}
div{color:green;}
div{font-size:50px;}
p{color:red;}
h3{font-family: 'Luckiest Guy', cursive;}